/* ---------- General Style ---------- */









/* ---------- Phones ---------- */
@media screen and (min-width: 400px) {
    body {
        font-size: 18px;
    }
}

/* ---------- Tablets ---------- */
@media screen and (min-width: 800px) {
    body {
        font-size: 26px;
    }
}

/* ---------- Desktops ---------- */
@media screen and (min-width: 1000px) {
    body {
        font-size: 32px;
    }
}